/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ------------------------------------------------------------------------- */
:root {
    --sidebar-background: rgba(200,162,200, 0.9);
    --name-background: rgba(128,128,0 ,0.7);
    --sidebar-button-background: rgb(245,245,245);
    --sidebar-button-background-hover: rgb(200,200,200);
}

body {
    background-image: url(./background.png);
}

#content {
    display: grid;
    grid-template-columns: 15rem 1fr;

    width: 100vw;
    height: 100vh;
    position: relative;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    background-color: var(--sidebar-background);
    border: 1px solid transparent;
    padding: 1rem;
    width: 100%;
    height: 100%;
    position: sticky;
}

.restaurant-name {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    color: var(--sidebar-button-background);
    width: fit-content;
    padding: 1rem;
    background-color: var(--name-background);
    border-radius: 0.5rem;
}

.sidebtn {
    width: 100%;
    height: 3rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    background-color: var(--sidebar-button-background);
    font-size: 1.5rem;
    
    display: flex;
    justify-content: center;
    align-items: center;

    transition: 500ms;
}

.sidebtn:hover {
    background-color: var(--sidebar-button-background-hover);
    margin: 0.5rem 0rem;
    font-size: 1.8rem;
}

.sidebtn:active {
    transform: scale(1.1);
    transition: 100ms;
}